<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationReport" verbose="10" parallel="tests" thread-count="1" configfailurepolicy="continue">


    <test name="WebAutomation" annotations="JDK" preserve-order="true">
        <parameter name="username" value="standard_user" />
        <parameter name="password" value="secret_sauce" />
        <classes>
            <class name="ShoppingTest"/>
        </classes>
    </test>

</suite>